# Object files
*.o
*.ko
*.obj
*.elf

# Precompiled Headers
*.gch
*.pch

# Libraries
*.lib
*.a
*.la
*.lo

# Shared objects (inc. Windows DLLs)
*.dll
*.so
*.so.*
*.dylib

# Executables
*.exe
*.out
*.app
*.i*86
*.x86_64
*.hex

# Other garbage including assembler stuff, etc.
*~
_*
.*.swp
*.sym
*.img
mkfs
.gdbinit
out
fs
bochsrc.bxrc